$white: #fff;
$black: #111;
$darker-grey: #39424E;
$dark-grey: #575965;
$font: 'Didact Gothic','sans serif';
$body-size: 16px;
$body-text: $white;
$time: 0.5s;

$links: darken($white, 20%);
$links-hover: $white;

$code-block: #000004;
